[submodule "libtorrent"]
	path = libtorrent
	url = http://git.deluge-torrent.org/libtorrent.git/
[submodule "deps/node-static"]
	path = deps/node-static
	url = git://github.com/cloudhead/node-static.git
[submodule "deps/node"]
	path = deps/node
	url = git://github.com/kennyb/node.git
[submodule "deps/ffmpeg"]
	path = deps/ffmpeg
	url = git://gitorious.org/ffmpeg/mainline.git
[submodule "deps/headjs"]
	path = deps/headjs
	url = git://github.com/headjs/headjs.git
[submodule "deps/video-js"]
	path = deps/video-js
	url = git://github.com/zencoder/video-js.git
[submodule "deps/node-id3"]
	path = deps/node-id3
	url = git://github.com/Tim-Smart/node-id3.git
[submodule "deps/node-strtok"]
	path = deps/node-strtok
	url = git://github.com/pgriess/node-strtok.git
[submodule "deps/sha1_stream"]
	path = deps/sha1_stream
	url = git://github.com/kennyb/sha1_stream.git
[submodule "deps/long-stack-traces"]
	path = deps/long-stack-traces
	url = git://github.com/tlrobinson/long-stack-traces.git
[submodule "deps/requirejs"]
	path = deps/requirejs
	url = git://github.com/kennyb/requirejs.git
[submodule "deps/socket.io"]
	path = deps/socket.io
	url = git://github.com/LearnBoost/Socket.IO-node.git
