[submodule "libtorrent"]
	path = libtorrent
	url = http://git.deluge-torrent.org/libtorrent.git/
[submodule "node"]
	path = node
	url = git://github.com/ry/node.git
[submodule "deps/node-static"]
	path = deps/node-static
	url = https://github.com/cloudhead/node-static.git
[submodule "apps/playbox/node-static"]
	path = apps/playbox/node-static
	url = https://github.com/cloudhead/node-static.git
[submodule "deps/node"]
	path = deps/node
	url = https://github.com/ry/node.git
[submodule "deps/ffmpeg"]
	path = deps/ffmpeg
	url = git://gitorious.org/ffmpeg/mainline.git
[submodule "deps/node-websocket-server"]
	path = deps/node-websocket-server
	url = https://github.com/miksago/node-websocket-server.git
[submodule "deps/headjs"]
	path = deps/headjs
	url = https://github.com/headjs/headjs.git
[submodule "deps/video-js"]
	path = deps/video-js
	url = https://github.com/zencoder/video-js.git
